<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Sequelize</h1>
    <h2><a href="/teachers">Data Teacher</a></h2>
    <h2><a href="/students">Data Students</a></h2>
    <h2><a href="/subjects">Data Subject</a></h2>
  </body>
</html>
