<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Welcome To School App</h1>
    <div class="topnav" id="myTopnav">
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <a href="/logout" onclick="return confirm('are you sure?');">Logout</a>
    </div>
</body>
</html>
