<!DOCTYPE html>
<html>
  <head>
    <%- include partial/head %>
    <%- include partial/style %>
  </head>
  <body>
    <h1>Welcome To School App</h1>
    <div class="topnav" id="myTopnav">
      <a href="/teachers">Teacher</a>
      <a href="/students">Student</a>
      <a href="/subjects">Subject</a>
    </div>
</body>
</html>
