<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Subjects</title>
  </head>
  <body>
    <h1>Halaman Subjects</h1>
    <a href="/">Back to Home</a>
    <table border="1"="width:25%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Subject Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%dataSubjects.forEach(data =>{ %>
          <tr>
            <td><%=data.id%></td>
            <td><%=data.subject_name%></td>
            <td>
              <a href="subjects/update/<%=data.id%>">Edit</a>
              <a href="subjects/delete/<%=data.id%>">Delete</a>
            </td>
          </tr>
        <%})%>
      </tbody>
   </table>
   <br>
   <form action="/subjects" method="POST">
     <fieldset>
       <br>
       <legend>Add Data Subjects:</legend>
       subject_name:<br>
       <input type="text" name="subject_name" placeholder="subject_name">
       <br><br>
       <input type="submit" value="SUBMIT">
     </fieldset>
   </form>
  </body>
</html>
