<!DOCTYPE html>
<html>
<%- include partial/head %>
  <body>
    <form class="" action="/subjects/add" method="POST">
      <table>
        <fieldset>
          <br>
          <legend>Add Data Subject:</legend>
          Subject Name:<br>
          <input type="text" name="subject_name" placeholder="subject-name">
          <br><br>
          <input type="submit" value="ADD SUBJECT">
        </fieldset>
      </table>
    </form>
  </body>
</html>
